@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @utility text-gradient {
  @apply to-blue bg-gradient-to-b from-white via-white bg-clip-text font-semibold text-4xl
} */

h1 {
  @apply  text-6xl font-semibold max-sm:text-4xl;
}
#explore-btn {
  @apply bg-gray-700 flex justify-center px-5 py-3 rounded-4xl 
}

.events {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 space-y-4
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
